@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.wrapper {
    min-height: 100vh;
    position: relative;
}  
.nav-link{
    color: aliceblue;
}
#description{
    font-family: 'Montserrat', sans-serif;
    /* text-shadow: 2px 2px 4px #000000; */
    color: white;
}
#title{
    font-size: 80px;
}
.contactInfo{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
